.face-container{
    display:flex;
    flex-direction:column;
padding-top:30px;
    width: 150px;
    

    img{
        width: 80%;
        margin: auto;
        border-radius: 5px;

    }
    span{
        font-weight: lighter;
        font-size: 0.9em;
        color:white;
        margin-bottom:5px;
        
        margin-top:0px;
    }
    p{
        margin-top: 2px;
        font-weight: lighter;
        color: gray;
        font-size:12px;
    }
}

