.book-bgd{
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 10px;
    width: 700px;
    margin: auto;
    margin-bottom: 100px;

    @media (max-width: 800px){
        width:400px
    }
    .top-area{
        padding: 10px;
        margin: 10px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        
        span{
            font-size: 2.0rem;
            color: #7f5af0;
            font-weight: bolder;
            font-family: 'OldLondon';
        }
    }

    .middle-area{
        display:flex;
        flex-direction: row;
        padding: 10px;
        margin: 10px;
        margin-bottom: 20px;
        @media (max-width: 800px){
            flex-direction: column;
            padding: 50px 20px; 
        }
        .middle-area-image{
            width: 30%;
            @media (max-width: 800px){width:100%;}
            img{
                margin: auto;
                padding-top: 30px;
            }
        }

        .middle-area-text{
            width: 69%;
            text-align: left;
            padding: 0px 30px;
            @media (max-width: 800px){
                width:100%;
                padding:5px;
            }
        
            p{
                font-size: 0.9em;
                color: gray;
                font-family:'Alegreya';
              
            }

            button{
                padding: 10px 20px;
            }

           button:hover{
            cursor: pointer;
           }
        }

    }

    .bottom-area{
        border-top: 2px solid #7f5af0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-bottom: 20px;
        @media (max-width: 800px){
            flex-direction: column;
            padding-top:20px;
        }
        .footnote{
            padding-top:10px;
            @media (max-width: 800px){
                display: flex;
                flex-direction: row;
                  margin-left:20px;
                  padding-top:2px;
             }
            p{
                font-weight: bold;
                font-size: 0.8em;
                color:  gray;
                font-family:'Alegreya';
                font-style: italic;
                margin-bottom:0px;
                margin-top:0;
                @media (max-width: 800px){
                    margin-right: 10px;
                   padding:0;
                   margin-top:0;
                }
               
            }
           
        }
     
    }
}