.card-container:hover{
    box-shadow: 0 0 20px white;
    cursor: pointer;
}
.card-container{
    display: flex;   
    flex-direction: column;
    margin: 20px;
    padding:5px;
    padding-top:10px;
    border: 1px solid white;
    border-radius: 10px;
    height:300px;
    width:200px;
    background-color: black;
    
    .image{
        margin-bottom:10px ;
        margin-top:10px;
        img{
            max-height: 150px;
            max-width:100%;
        }
    }

    .name{
        margin-top:10px ;
        margin-bottom:20px;
        span{
            color: #7f5af0;
            margin-top: 20px;
            margin-bottom: 20px;
            padding-left:10px;
            padding-right:10px;
            font-size:1.2em;
            font-family: 'Alegreya';
        }
    
    }
    
    .effect{
        padding-left:10px;
        padding-right:10px;
        span{
            margin-top:10px;
            color: white;
            font-weight: lighter;
            font-size:0.85em;
            font-style: italic;
        }
    }
       
   }

   .name:hover{
       cursor:pointer;
       opacity: 99%;
       
   }