.card-container{
    
    display: flex;   
    flex-direction: column;
    margin: 20px;
    padding:5px;
    border: 2px solid orange;
    border-radius: 10px;
    height:300px;
    width:200px;
    background-color: #222;
    
    span{
        color: orange;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left:10px;
        padding-right:10px;
    }
    .description{
        p{
            margin-top:10px;
            color: white;
            font-weight: lighter;
            font-size:0.85em
        }
    }
       
   }

   .card-container:hover{
       cursor:pointer;
       opacity: 70%;
       
   }