.spellspage-container{

   
padding-left: 100px;
padding-right:100px;

    .spell-heading{
        
        padding-bottom: 20px;
        h2{
            color: #7f5af0;
            font-family: 'OldLondon';
            font-size:2em;
        
        }
    }
    .spell-search{
        margin:0 auto;
        margin-bottom: 50px;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        padding-right: 50px;
        
        input{            
            border-radius:5px;
            padding: 10px 20px;
            font-size: 1em;
            margin-right:5px;
            font-family: 'Alegreya';
        }
        button{
            border-radius:5px;
            padding: 10px 20px;
            font-weight:lighter;
            border: 0.1px solid #7f5af0;
            color:white;
            background: transparent;
            font-family:'Alegreya';
            font-size:1em;
        }
        button:hover{
            cursor:pointer;
            background:#7f5af0;
            color:white;
            border: 0.1px solid gray;
        }
    }
    .spell-content{
        
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .spell-pages{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 20px;
        margin-bottom: 50px;
        button{
            margin-right: 5px;
            border-radius:5px;
            padding: 10px 20px;
            font-weight:lighter;
            border: 0.1px solid #7f5af0;
            color:white;
            background: transparent;
            font-family:'Alegreya';
            font-size:1em;
        }
        button:hover{
            cursor:pointer;
            background:#7f5af0;
            color:white;
            border: 0.1px solid gray;
        }
    }
    
}