

   .spell-container{
        background-color: yellowgreen;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        margin: 20px;
        height:350px;
        width:250px;
        opacity: 95%;
   } 

.spell-container:hover{
 opacity: 100%;
 border: 1px solid black;
 cursor: pointer;
}

#Nill{
    background-color: yellowgreen;
}
    #Charm{
        background-color: #aaa;
       
    }
    #Jinx{
        background-color: darkmagenta;
       }
    #Curse{
        background-color: darkolivegreen;
       }
    #Transfiguration{
        background-color:orchid;
    }
    #Transportation{
        background-color:papayawhip;
    }
    #Hex{

        background-color:powderblue;
    }


.spell{
        padding-top: 25px;
        width:100%;
        height:100%;
        border-radius: 10px;
}

.spell-name{
    max-height:90px;
    padding-left:15px;
    padding-right:15px;
}
.spell-name  span{
    color: black;
    font-weight:600;
    font-size: 1.1em;
}

.spell-name p{
    font-size:0.8em;
    font-style: italic;
}
                        

.image-area{
    padding:3px;
}
.image-area img{
    padding:1px;
    max-height:150px;
}

.description{
   max-height:110px;  
   padding-left:15px;  
   padding-right:15px;         
}
.description p{
    color:black;
    font-size: 0.85em;
}
