

   .spell-container{
        background-color:#112;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        margin: 20px;
        height:350px;
        width:250px;
        border: 0.1px solid #7f5af0;
   }
   

.spell-container:hover{
 opacity: 100%;
 cursor: pointer;
 box-shadow: 0 0 50px  #7f5af0; 
}

#Nill:hover{
    box-shadow: 0 0 50px yellowgreen;
}
    #Charm:hover{
        box-shadow: 0 0 20px #aaa;
       
    }
    #Dark:hover{
        box-shadow: 0 0 20px blue;
       
    }
    #Spell:hover{
        box-shadow: 0 0 20px orange;
       
    }
    #Jinx:hover{
        box-shadow: 0 0 20px darkmagenta;
       }
    #Curse:hover{
        box-shadow: 0 0 20px darkolivegreen;
       }
    #Transfiguration:hover{
        box-shadow: 0 0 20px orchid;
    }
    #Transportation:hover{
        box-shadow: 0 0 20px papayawhip;
    }
    #Hex:hover{

        box-shadow: 0 0 20px powderblue;
    }


.spell{
        padding-top: 25px;
        width:100%;
        height:100%;
        border-radius: 10px;
}

.spell-name{
    max-height:90px;
    padding-left:15px;
    padding-right:15px;
    padding-bottom:30px;
}
.spell-name  span{
    font-family:'OldLondon';
    color:#7f5af0;
    font-weight:600;
    font-size: 1.5em;
}
                       

.image-area{
    padding:3px;
}
.image-area img{
    padding:1px;
    max-height:150px;
    max-width:90%;
}

.description{
   max-height:110px;  
   padding-left:15px;  
   padding-right:15px;         
}
.description p{
    color:white;
    font-size: 0.85em;
    font-style:italic;
    font-family:'Allegreya'
}
