

.header-container{
    
    display: flex;
    flex-direction: column;
    

    .header-font {
        
        a {
            color: darkorchid;
            
        }
    }
    .header-navs{
        display: flex;
        justify-content: space-around;
        margin-left: 150px;
        margin-right: 150px;

        a {
            color: darkorchid;
        }
    }
}