

.header-container{
    
    display: flex;
    flex-direction: column;
    
   

    .header-font {
        border-bottom: 0.1px solid silver;
        
        h1 {
            font-family: 'OldLondon';
            font-stretch: condensed;
            font-size: 3em;

            
            a {
                color: #7f5af0;
                
            }
        }
        
    }
    .header-navs{


        ul {
            display: flex;
            justify-content: space-around;
            margin-left: 200px;
            margin-right: 200px;
            margin-top: 10px;
            @media screen and (max-width: 800px) {
                display: flex;
                flex-direction: column;
                margin: 0 auto;
            }
            
            a {
                color: #7f5af0;
                font-family: 'Alegreya';
                font-weight: lighter;
                @media screen and (max-width: 800px){
                    
                }
            }
        }
        
    }

    .mobile-option {
        display: none;

        
      }
      .mobile-menu {
        display: none;

        @media screen and (max-width: 800px) {
            width: 40px;
            height: 40px;
            display: block;
            background: gray;
            position: absolute;
            left: 90%;
            top: 10%;
        }
        .menu-icon{
            width: 30px;
            height: 30px;
            margin: 0 auto;
            margin-top: 3px;
        }
      }
}