

.header-container{
    
    display: flex;
    flex-direction: column;
    
   

    .header-font {
        border-bottom: 0.1px solid silver;
        
        h1 {
            font-family: 'OldLondon';
            font-stretch: condensed;
            font-size: 3em;

            
            a {
                color: orange;
                
            }
        }
        
    }
    .header-navs{
        ul {
            display: flex;
            justify-content: space-around;
            margin-left: 200px;
            margin-right: 200px;
            margin-top: 10px;
            
            a {
                color: orange;
                font-family: 'Alegreya';
                font-weight: lighter;
            }
        }
        
    }
}