

.footer{
    
    display: flex;
    flex-direction: column;
    border-top: 0.5px solid silver;

    .links{
        display: flex;
        flex-direction: row;
        margin: 100px 100px;
        margin-bottom: 2px;
        padding-left: 200px;
        padding-right: 200px;
        padding-bottom: 10px;
        
        .links-1{
            width: 30%;
            display: flex;
            flex-direction: column;
            margin-left: 50px;
            
            .link-entry{
                
                margin-bottom: 50px;
                height: 150px;
               .f-span{
                   display: flex;
                    span{
                        
                        color: white;
                        font-size: 0.9em;            
                        
                    }
               }
                ul{
                    
                    padding-left: 0pt;
                    
                    
                    li{
                        text-align: left;
                        
                        
                        a{
                            color: white;
                            font-size: 0.85em;
                            font-weight: lighter;
                        }
                    }

                }
            }
        }

    }    
    .sm-icon{
        background: white;
    }

    .copyright{
        margin: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-top: 0.5px solid silver;
        
    }
    .copyright > span {
        color: white;
        
    }
    
}