

.footer{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    
    .sm-icon{
        background: white;
    }

    .copyright{
        margin: 10px;
    }
    .copyright > span {
        color: white;
        
    }
    
}