

.footer{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    height: 50px;
    background-color: black;
    display: flex;
    flex-direction: column;

    .links{
        display: flex;
        flex-direction: row;
        margin: 100px 100px;
        .links-1{
            width: 30%;
            display: flex;
            flex-direction: column;
            
            .link-entry{
                
                margin-bottom: 50px;
               .f-span{
                   display: flex;
                    span{
                        
                        color: white;
                        font-size: 0.9em;            
                        
                    }
               }
                ul{
                    
                    padding-left: 0pt;
                    
                    li{
                        text-align: left;
                        
                        
                        a{
                            color: white;
                            font-size: 0.85em;
                            font-weight: lighter;
                        }
                    }

                }
            }
        }

    }    
    .sm-icon{
        background: white;
    }

    .copyright{
        margin: 10px;
    }
    .copyright > span {
        color: white;
        
    }
    
}