.header{
    h2{
        color: #7f5af0;
        font-size: 3rem;
        font-weight: lighter;
        margin-bottom: 10px;
        font-family: 'OldLondon'; 
    }

    .sorting-header{
        padding: 10px;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        img{
            
            height: 350px;
            margin: 0 auto;
            margin-bottom: 30px;
            margin-top: 20px;
        }
        span{
            color:#7f5af0;
            font-size: 1.5rem;
            font-weight: lighter;
            font-family: 'Alegreya';
        }
    }

    .sorting-body{
        padding: 10px;
        margin-bottom: 50px;
        input{
            margin-right: 10px;
            font-size: 15px;
            padding: 12px 20px;
           
        }
        button{
            padding: 10px 20px;
                border: 1px solid #7f5af0;
                border-radius: 0.3em;
                box-sizing: border-box;
                text-decoration: none;
                font-family: 'OpenSans-Light';
                font-size: 15px;
                color:white;
                font-family:'Alegreya';
                background-color: black; 
                cursor: pointer;
                a span{
                   color:white;
                }
            }
            button:hover{
                background-color: #7f5af0;
                color: white;
                border: 1px solid #7f5af0;
                a{
                    color: white;
                   
                }
        }
    }

    .sorting-result{
        min-height: 300px;
        border-top: 0.1px solid white;
        .result{
            margin-top:30px;
            p{
                color: #7f5af0;
                font-size: 1.1em;
            }
            span{
                color: purple;
                font-size: 3rem;
                font-weight: lighter;
                margin-top:50px;
                font-family:'OldLondon';
            }
        }
        .no-result{
            margin-top:100px;
            span{
                color: #7f5af0;
                font-size:1.5em;
                font-weight: lighter;
            }
        }
    }
}