.container{
    
background-image:
radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 10px),
radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 5px),
radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 10px),
radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 5px);
background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;

.experiment{
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    background-color: black;
}
    .banner-1{
        margin: 0 auto;
        width: 75%;
   @media screen and (max-width:800px){
    width:100%;
   }
   
        h2{
            color: #7f5af0;
            font-family: 'OldLondon';
            font-size: 2.5em;
            font-weight: lighter;
        } 
        
        @media (max-width: 800px) {
            h2 {
             font-size: 2em;
            }
          }

        .content{
            display: flex;
            flex-direction: column;
        }
       
        .content-image{
            padding: 5px;
            .img{
                height:250px;
            }
        }

      

        .content-body{
                 padding: 50px 250px ;  
        }    
        .content-body span{
            color: white;
            font-size: 1.3em;
            font-weight: 100%;
            display: block;
            line-height: 2em;
            font-family:'OldLondon';
        }   

        

    @media (max-width: 800px) {
        .content-image {
          padding: 2px;
          .img{
            height:150px;
          }
        }

        .content-body{
            padding: 20px 100px;
        }
        .content-body span{
            font-size: 1em;
        }
      }
    }

 
.content-body .butn{
    margin-top: 30px;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    background-color: transparent;
    border: 2px solid #7f5af0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration:0.4s;
}

.butn a{
    color: white;
    font-family:'Alegreya';
}

.content-body .butn:hover{
    background-color: #7f5af0;
    border: 2px solid white;
    cursor: pointer;
}

.butn a:hover{
    color: white;
}

.explore{
    color: #7f5af0;
    font-family: 'OldLondon';
    font-size: 3em;
    font-weight: lighter;
}

@media (max-width: 800px){
    .explore{
        font-size: 2em;
    }
}


.hogwarts{
    padding-bottom:20px;
}

.hogwarts button{
    margin-top: 30px;
    padding: 20px 30px;
    border-radius: 10px;
    font-size: 20px;
    background-color: transparent;
    background: url('https://cdn.pixabay.com/photo/2015/09/20/22/38/library-948965_1280.jpg');
    border: 2px solid #7f5af0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration:0.4s;
}
.hogwarts button a{
    color: white;
    font-family:'Alegreya';
}
.hogwarts button:hover{
    border: 2px solid white;
    cursor: pointer;
    opacity:80%;
}

.hogwarts button a:hover{
    color: white;
}

.mid-content{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
}
@media (max-width: 800px){
    .mid-content{
        flex-direction: column;
        margin-left:10%;
        margin-right:10%; 
    }
}

.pf-books{

    background: url('https://images.pexels.com/photos/1005012/pexels-photo-1005012.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
    width:350px;
    margin:5px;
    border: 1px solid #7f5af0;
    border-radius: 5px;
    height:500px;
    @media (max-width: 800px){
        margin: 0 auto;
        margin-bottom: 50px;
    }
}

.pf-books:hover{    
    border: 1px solid white;
    opacity:80%;
}

.pf-movies{
    background: url('https://images.pexels.com/photos/4488194/pexels-photo-4488194.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
    width:350px;
    margin:5px;
    border: 1px solid #7f5af0;
    border-radius: 5px;
    height:500px;

    @media (max-width: 800px){
        margin: 0 auto;
        margin-bottom: 50px;
    }

}

.pf-movies:hover{    
    border: 1px solid white;
    opacity:80%;
}

.pf-spells{
    background: url('https://images.pexels.com/photos/10180210/pexels-photo-10180210.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    width:350px;
    margin:5px;
    border: 1px solid #7f5af0;
    border-radius: 5px;
    height:500px;

    @media (max-width: 800px){
        margin: 0 auto;
        margin-bottom: 50px;
    }

}

.pf-spells:hover{    
    border: 1px solid white;
    opacity:80%;
}

.pf-potions{
    background: url('https://images.pexels.com/photos/7979084/pexels-photo-7979084.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    width: 350px;
    margin:5px;
    border: 1px solid #7f5af0;
    border-radius: 5px;
    height:500px;

    @media (max-width: 800px){
        margin: 0 auto;
        margin-bottom: 50px;
    }

}

.pf-potions:hover{    
    border: 1px solid white; 
    opacity:80%;
}

.p-button{
    margin-top: 350px;
}

.p-button button{
    margin-top: 30px;
    padding: 20px 30px;
    border-radius: 10px;
    font-size: 16px;
    background-color: transparent;
    border: 2px solid #7f5af0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration:0.4s;
    cursor: pointer;
}

.p-button a{
    color: white;
    font-family:'Alegreya';
}

.p-button button:hover{
    background-color: #7f5af0;
    border: 2px solid white;
}


.jk-rowling{
    margin:0 auto;
    margin-top: 100px;
    margin-bottom: 150px;
    width: 75%;
    border: 1px solid #7f5af0;

    a{
        color: white;
        
    }
    
    h1{
        color: #7f5af0;
        font-family: 'Crows';
        font-size: 2.5em;
        font-weight: lighter;
    }

    img{
        height: 300px;
        @media (max-width: 800px){
            height: 200px;
        }
    }
    .jk-text{
        margin: 50px 200px;
        text-align:left;
        @media (max-width: 800px){
            margin: 20px 30px;
        }
        span{
            color: silver;
            font-size: 1.2em;
            font-family: 'Alegreya';
            font-style: 'OldLondon';
            display: block;
            text-align: left;
            line-height: 2;
            margin-bottom: 5px;
        }
    }
}

.section {
    height: 500px;
    background-color: #000011;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
    
    background-color: white;
    
}
    

}