.container{
    
background-image:
radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 10px),
radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 5px),
radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 10px),
radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 5px);
background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;

.experiment{
    
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    border-top: 1px solid silver;
    background-color: silver;
    padding: 50px 20px;
    padding-top: 150px;
    padding-bottom: 100px;

    .banner-1{
        
        margin: 0 auto;
        
        width: 50%;
        padding-bottom: 50px;
        span{
            color: black;
            font-size: 1.1em;
            font-weight: 100%;
            display: block;
            line-height: 2em;
        }    
        button{
            margin-top: 30px;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 0.95em;
        }    
        
    }

    .banner-2{
        margin-left: 20px;
        margin: 0 auto;
        width: 50%;
        img{
            width: 200px;
            height: 400px;
        }
    }
}

.movie-book{
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .pf-books{
        background: url('https://images.pexels.com/photos/1005012/pexels-photo-1005012.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
        
        background-position: top center;
        background-size: 800px 500px;
        background-repeat: no-repeat;
     
        .le-button{
            margin-top: 400px;
            margin-bottom: 100px;
            margin-left: 500px;
            
            button{
                padding: 10px 20px;
                background-color: white;
                font-size: 0.95em;
                border-radius: 5px;
            }
        }
    }

    .pf-movies{
        margin-top: 100px;
        padding-top: 200px;
        
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 50px;
        margin-left: 300px;
        margin-right: 300px;
        
        .mov-img{
            width: 49%;
            
            img{
                
                width: 300px;
            }
        }
        .mov-txt{
            padding-top: 100px;
            width: 49%;
            
            span{
                margin: 0 auto;
                font-size: 1.1em;
                color: silver;
                display: block;
                line-height: 2.0em;
            }

            button{
                margin: 0 auto;
                margin-top: 50px;
                padding: 10px 20px;
                font-size: 1em;
                border-radius: 5px;

            }
        }
    }


    .section {
        height: 300px;
        background-color: #000011;
        margin-left: 150px;
        margin-right: 150px;
        margin-top: 20px;
        margin-bottom: 20px;
        
        background-color: white;
        
    }

}

.pf-spells{
    margin:0 auto;
    margin-top: 100px;
    margin-bottom: 150px;
    
    background: url('https://images.pexels.com/photos/5402712/pexels-photo-5402712.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
        
        background-position: top center;
        background-size: 800px 500px;
        background-repeat: no-repeat;
        padding-bottom: 50px;
    h1{
        margin-bottom: 60px;
    }
    a{
        color: silver;
    }
    .pf-spells-span{
        
        
        width: 800px;
        margin: 0 auto;
        text-align: left;
        padding-left: 150px;
        span{
            color: silver;
            font-size: 1em;
            line-height: 2em;
        }
    }
    button{
        display: block;
        margin: 0 auto;
        margin-top: 230px;
        padding: 10px 20px;
        font-size: 1em;
        border-radius: 5px;
        
    }
}
.jk-rowling{
    
    margin:0 auto;
    margin-top: 100px;
    margin-bottom: 150px;

    a{
        color: silver;
    }
    h1{
        color: silver;
    }

    img{
        width: 450px;
        height: 350px;
    }
    .jk-text{
        margin: 50px 300px;
        p{
            color: silver;
        }
    }
}

.section {
    height: 500px;
    background-color: #000011;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
    
    background-color: white;
    
}
    

}