.container{
    
background-image:
radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 10px),
radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 5px),
radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 10px),
radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 5px);
background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;

.experiment{
    margin-top: 200px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    border: 0.01px solid silver;
    
    margin: 200px 300px 100px 300px;
    padding: 100px 20px;

    .banner-1{
        
        margin: 0 auto;
        margin-top: 120px;
        width: 50%;
        
        span{
            color: white;
            font-size: 1.2em;
            
            display: block;
            line-height: 2em;
        }    
        button{
            margin-top: 100px;
            padding: 15px 25px;
            border-radius: 5px;
            font-size: 1em;
        }    
        
    }

    .banner-2{
        margin-left: 20px;
        margin: 0 auto;
        width: 50%;
        img{
            width: 250px;
            height: 500px;
        }
    }
}

.movie-book{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .pf-books{
        margin: 0 auto;
        height: 700px;
        width: 80%;

        .le-button{
            margin-top: 600px;
            margin-left: 70%;

            button{
                padding: 15px 25px;
                background-color: white;
                font-size: 1.2em;
                border-radius: 5px;
            }
        }
    }

    .pf-movies{
        margin-top: 150px;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 50px;
        img{
            margin-left: 200px;
        }
        span{
            margin-left: 100px;
            margin-top: 200px;
            font-size: 1.5em;
        }
    }


    .section {
        height: 300px;
        background-color: #000011;
        margin-left: 150px;
        margin-right: 150px;
        margin-top: 20px;
        margin-bottom: 20px;
        
        background-color: white;
        
    }

}

.pf-spells{
    margin: 0 auto;

    img{
        width: 800px;
        height: 400px;
    }
    a{
        color: silver;
    }
}
.jk-rowling{
    
    margin:0 auto;
    margin-top: 100px;

    a{
        color: silver;
    }
    h1{
        color: silver;
    }

    img{
        width: 450px;
        height: 350px;
    }
    .jk-text{
        margin: 50px 300px;
        p{
            color: silver;
        }
    }
}

.section {
    height: 500px;
    background-color: #000011;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
    
    background-color: white;
    
}
    

}