.banner-container {
    margin-top: 20px;

    .container-b{
        min-height: 500px;
        .banner-span{
            width:50%;
            margin: 0 auto;
            padding-top: 150px;
            @media screen and (max-width:800px){
                width:100%;
                padding-top:100px;
               min-height:200px; 
            }
            span{
                font-family: 'OldLondon';
                font-stretch: condensed;
                color: #dcdcde;
                color: #7f5af0;
                font-size: 3em;
                font-weight: bold;
                display: block;
                @media screen and (max-width:800px){
                    font-size:2em;
                    margin-left:50px;
                    margin-right:50px;
                }
            }            
        }
        .sub-content{
            padding-top:100px;
            width:30%;
            margin: 0 auto;

            @media screen and (max-width:800px){
                width: 100%;
                padding-top:50px;
            }
            span{
                color: #7f5af0;
                font-size: 1.3em;
                font-family: 'OldLondon';
                font-style: italic;
                display: block;
                text-align: left;
                line-height: 1.5;
                @media screen and (max-width:800px){
                    margin-left: 15%;
                    margin-right:15%;
                    font-size:1em;
                }
                 }
        }

        .banner-btn{
            margin-top: 80px;
            button{
                padding: 15px 25px;
                border-radius: 5px;
                font-size: 1em;
            }
        }
    }
        
}