.banner-container {
    margin-top: 20px;

    .container-b{
        min-height: 500px;
        .banner-text{
            width:80%;
            margin: 0 auto;
            padding-top: 150px;

            span{
                color: #dcdcde;
                font-size: 2em;
                font-weight: 1;
                display: block;
            }
        }
    }
        
}