.banner-container {
    margin-top: 20px;

    .container-b{
        min-height: 500px;
        .banner-span{
            width:50%;
            margin: 0 auto;
            padding-top: 150px;
            span{
                color: #dcdcde;
                color: #7f5af0;
                font-size: 2em;
                
                display: block;
            }            
        }
        .banner-btn{
            margin-top: 80px;
            button{
                padding: 15px 25px;
                border-radius: 5px;
                font-size: 1em;
            }
        }
    }
        
}